{% extends 'base.html' %}

{% block title %}Login | Golden Trash{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 100%; max-width: 400px;">
        <h4 class="mb-3 text-center">Login ke Golden Trash</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Kata Sandi</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    Username atau password salah.
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100">Masuk</button>
        </form>
                <div class="auth-footer text-center">
        <p>
            Belum punya akun?
            <a href="{% url 'accounts:register' %}">Daftar di sini</a>
        </p>
    </div>
        </div>
</div>
{% endblock %}
